.dashboard-container {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background-color: bisque;
  min-height: 100vh;
}
.nav {
  display: flex;
  background-color: rgb(103, 105, 170);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
}
.logout {

  cursor: pointer;
  padding: 6px 12px;
}
.main {
  display: flex;
  padding-top: 10px;
  width: 100%;
}
.left,
.right {
  flex: 1;
  padding: 30px;
}

.left {
  flex: 1;
}
.right {
  display: flex;
  justify-content: right;
  margin-top: 30px;
  flex: 1;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
}

.task-details {
  background-color: #f1f1f1;
  padding: 12px 16px; 
  border-radius: 6px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 6px;
  word-break: normal; /* prevent breaking words */
}

/* TASK TEXT */
.task-details p {
  font-size: 0.95rem;
  margin: 2px 0;
  white-space: nowrap; /* prevent text from wrapping */
  overflow: hidden;    /* hide overflow if text is too long */
  text-overflow: ellipsis; /* add "..." for overflow */
  display: block;
}



.delete-btn {
  background-color: #e65d4e;
  border: none;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  align-self: flex-start;
}

.error {
  color: red;
  margin-top: 10px;
}
.btn-primary{
cursor: pointer;
border: none;
font-size: 18px;
padding: 8px;
}
button:hover{
  background-color:  rgb(103, 105, 170);
  color: white;
}

.task-buttons{
display: flex;

gap: 15px;
margin-bottom: 10px;

}

h4{
  margin: 12px 0px;
}

 .delete-btn:hover {
  background-color: #c0392b;
}