.dashboard-container {
  width: 100%;
  background-color: bisque;
  min-height: 100vh;
}
.nav {
  background-color: rgb(103, 105, 170);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
}
.logout {
  cursor: pointer;
  padding: 6px 12px;
}
.main {
  display: flex;
  padding-top: 20px;
  width: 100%;
}
.left,
.right {
  flex: 1;
  padding: 30px;
}

.left {
  flex: 1;
}
.right {
  flex: 1;
}

.task-list {
  display: flex;
  margin-top: 10px;
grid-template-columns: repeat(2,1fr);
gap: 15px;
width: 100%;
}
.task-details {
  background-color: rgb(205, 216, 223);
  border-radius: 5px;
  max-width: 50%;
  margin-bottom: 25px;
  padding: 15px;
}
.error {
  color: red;
  margin-top: 10px;
}
