.box-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #ffe4c4;
  min-height: 100vh;
}
.form-box,.edit {
    margin: 100px;
    display: flex;
    justify-content: center;

}
.btn-submit,
.btn-cancel {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
}
