.history-container {
  background-color: #ffe4c4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.task-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.avatar {
  background-color: lightblue;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 2px;
  text-align: center;
}
.history-nav {
  background-color: rgb(145, 145, 201);
  padding: 20px 30px;

  margin-bottom: 10px;
}
h3{
    margin-top: 20px;
    padding: 0px 30px;
}

.delete-btn {
  background-color: #b9655c;
  border: none;
  color: #fff;
  padding: 4px 100px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  align-self: flex-start;
  border-radius: 6px;
  margin-left: 23px;

}
.edit-btn{
margin-left: 23px;

  color: white;
  padding: 2px ;
  width:85%;
    background-color:  rgb(103, 105, 170);
}
.edit-btns:hover{
  background-color:  rgb(74, 79, 207);
}