* {
  margin: 0px;
}
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(120deg, #667eea 0%, #764ba2 80%);
}
.login-box {
  background: white;
  padding: 40px;
  margin-top: 20vh;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 50vh;
}
.login-box h1{
text-align: center;
  font-size: 33px;
  color:#241a2e;
  margin-bottom: 10px;
}
.login-box h2{
  text-align: center;
  font-size: 26px;
 margin-bottom: 30px;
}
.form-group{
  position: relative;
  margin-bottom: 20px;
}
.form-group label{
  display: flex;
  margin-bottom: 5px;
 
}
.form-group input{
  border-radius: 4px;
  margin-bottom: 10px;
  width: 95%;
  padding: 5px;
}
.login-btn{

  padding: 6px 150px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: aqua;
}
.signup-link{
  text-align: center;
  margin-top: 20px;
  
}
.signup-link a{
  text-decoration: none;
  font-size: 16px;
  padding-left: 5px;
}
.signup-link a:hover{
  text-decoration: underline;
}
.error-message{
  color:red;

}