* {
  margin: 0px;
}
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(120deg, #667eea 0%, #764ba2 80%);
}
.signup-box {
  background: white;
  padding: 40px;
  margin-top: 20vh;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 50vh;
}
.signup-box h1{
text-align: center;
  font-size: 33px;
  color:#241a2e;
  margin-bottom: 10px;
}
.signup-box h2{
  text-align: center;
  font-size: 26px;
 margin-bottom: 30px;
}
.form-box{
  position: relative;
  margin-bottom: 10px;
}
.form-box label{
  display: flex;
  margin-bottom: 5px;
 
}
.form-group input{
  width: 100%;
  padding: 5px;
}
button{
border-radius: 6px ;
}
button:hover{
  background-color: aqua;
}
.signup-link{
  text-align: center;
  margin-top: 20px;
  
}
.signup-link a{
  text-decoration: none;
  font-size: 16px;
  padding-left: 5px;
}
.signup-link a:hover{
  text-decoration: underline;
}